.controls {
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
  }
  
  .timeline-container {
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
    background-color: black;
  }
  
  .frames-container {
    position: absolute;
    top: 20px;
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 1px;
    align-items: center;
  }
  
  .frame img {
    width: 100px;
    border-radius: 5px;
  }
  
  .needle {
    position: absolute;
    width: 15px;
    height: 100%;
    pointer-events: auto;
    top: 0;
    transform: translateX(-50%);
  }
  
  .start-needle {
    background-color: orange;
    cursor: pointer;
  }
  
  .end-needle {
    background-color: rgb(142, 94, 6);
    cursor: pointer;
  }
  
  .waveform-container {
    height: 80px;
    position: relative;
    top: 84px;
    left: 4px;
    width: 100%;
    overflow: scroll;
  }
  