<div class="videoPlayer">
    <video #videoPlayer controls [src]="safeVideoUrl" style="width: 40%;"></video>
    <div class="controls">
        <div>Start Time: {{ startTime | number: '1.0-2' }} seconds</div>
        <div>End Time: {{ endTime | number: '1.0-2' }} seconds</div>
      </div>
</div>



  
  <div class="timeline-container">
    
  
    <div #framesContainer class="frames-container" (scroll)="onScroll($event)">
      <div *ngFor="let frame of frames" class="frame">
        <img [src]="frame" alt="Frame" />
      </div>
    </div>
    
    <div #waveformContainer class="waveform-container"></div>
    
    <div class="needle start-needle" [style.left.px]="getNeedlePosition('start')" (mousedown)="startDrag('start')">
        <div class="needle-head"></div>
        <div class="needleInner"></div>
    </div>
    <div class="needle end-needle" [style.left.px]="getNeedlePosition('end')" (mousedown)="startDrag('end')">
        <div class="needle-head"></div>
        <div class="needleInner"></div>
    </div>
    
  
    
  </div>
  