.controls {
    
  }
  
  .timeline-container {
    position: relative;
    width: 100%;
    height: 170px;
    //overflow: hidden;
    background-color: #fff;
  }
  
  .frames-container {
    position: absolute;
    top: 20px;
    width: 100%;
    overflow-x: auto;
    display: flex;
    //gap: 1px;
    align-items: center;
    scroll-behavior:smooth;
  }
  
  .frame img {
    width: 100px;
    border-radius: 5px;
  }
  
  .needle {
    position: absolute;
    width: 15px;
    height: 100%;
    pointer-events: auto;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .start-needle {
    //background-color: orange;
    cursor: pointer;
  }
  
  .end-needle {
    //background-color: rgb(142, 94, 6);
    cursor: pointer;
  }

  .needleInner{
    width: 2px;
    background-color: red;
    height: 100%;
    margin: 0 auto;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.85);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.85);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.85);
  }
  
  .waveform-container {
    height: 80px;
    position: relative;
    top: 84px;
    
    width: 100%;
    overflow: scroll;
  }
  .videoPlayer{
    text-align: center;
    background: black;
    color: orange;
  }